.Logo {
  padding: 2px;
  height: 100%;
  display: flex;
}

.Logo img {
  height: 90%;
}

.Logo h2{
  color:#ccc;
  margin-left: 10px;
}

@media (max-width:500px ) {
    .Logo h2{
      margin:auto;
    }
}
