.Container{
    overflow: auto;
    display: flex;
    margin: 20px 20px auto auto;
    justify-items: center;
    justify-content: center;
}

.MovieHolder{
    width: 80%;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin:auto;
   justify-content: center;
   flex-direction: column;
   
}

.ListItem {
    list-style-type: none;
  
  }
  

  @media (max-width:500px){
      .MovieHolder{
            width:auto;
            justify-content: center;
            justify-items: center;
            height:auto;
      }
  }