.Container{
   
    display: flex;
    box-sizing: border-box;
    margin: 20px 20px auto auto;
    justify-items: center;
    justify-content: center;
}

.MovieHolder{
    width: 90%;
    padding: 30px;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin:auto;
   justify-content: center;
   flex-direction: column;
   
}

.ListItem {
    list-style-type: none;
  
  }
  

  @media (min-width:500px){
      .MovieHolder{
          width:400px;
            justify-content: center;
          justify-items: center;
      }
  }