.Toolbar {
  height: 8rem;
  width: 100%;
  position: fixed;
  display: flex;
  top:0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 90;
  background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 100%;
}

@media (max-width:499px) {
  .DesktopOnly{
    display: none;
  }
}
