.SideDrawer{
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 32px 16px;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

@media (min-width:600px){
    .SideDrawer{
        display: none;
    }
  }

.Open{
  transform: translateX(0);
}

.Close{
  transform: translateX(-100%);
}

.Logo {
  height: 11%;
  margin-bottom: 32px;
}
